{
    "globals": {
        "window": true,
        "Promise": true,
        "FileReader": true,
        "document": true,
        "d3": true,
        "Set": true,
        "screen": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 4],
        "semi": ["error", "always"]
    },
    "parser": "babel-eslint"
}
