.dwl-pointer {
    cursor: pointer;
}

.dwl-highlight-card {
    border: 1px solid tomato;
}

.dwl-card {
    min-width: 180
}

svg {
    height: 100%;
    width: 100%;
}

.warning-icon {
    height: 20px;
    width: 20px;
}
